body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(../media/mackinac-bridge.jpg) no-repeat;
}

.container{
	width: 75%;
	margin: auto;
	column-count: 4;
	column-gap: 2em;
	column-rule: 0.2em solid white;
	column-span: none;
	border: 0.2em solid white;
	background: url("../media/paper-texture.jpg");
}

h2{
	padding: 1em;
}

p{
	padding: .5em;
	line-height: 2em;
}